@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h1>Welcome to the Austin Hyer Entertainer's Database</h1>
            </div>
            <div class="card my-4">
                <div class="card-body">
                    <h3 class="card-title">About Us:</h3>
                    <p class="card-text">We have always been passionate about entertainment. It all started with one idea. What if we made a team of the greatest entertainers this world has to offer? So we did. Here is the list.</p>
                    <a href="@Url.Action("List", "Home")" class="btn btn-primary">Click here!</a>
                </div>
            </div>
        </div>
    </div>
</div>
